<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Country</key>
	<dict>
		<key>Bangladesh</key>
		<string>Dhaka</string>
		<key>India</key>
		<string>Delhi</string>
		<key>Pakistan</key>
		<string>Islamabad</string>
		<key>Srilanka</key>
		<string>Kolombo</string>
	</dict>
</dict>
</plist>
